$White: hsl(0, 100%, 100%);
$Purple100: hsl(275, 100%, 97%);
$Purple600: hsl(292, 16%, 49%);
$Purple950: hsl(292, 42%, 14%);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-weight: 400;
  font-size: 62.5%;
  font-family: "Work Sans", sans-serif;
}

button,
input,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  color: inherit;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

textarea {
  resize: none;
  width: 100%;
}

input {
  border: none;
  outline: none;
  width: 100%;

  &:focus,
  &:active {
    outline: none;
    border: none;
  }
}

label {
  text-transform: capitalize;
}

body {
  height: 100dvh;
  width: 100%;
  background-color: $Purple100;
  position: relative;
  display: grid;
  place-items: center;
  font-size: 1.6rem;
}

.background_img {
  background-color: $Purple950;
  position: absolute;
  top: 0;
  left: 0;
  // height: 25dvh;
  width: 100%;
  z-index: -1;
}

.faq {
  background-color: $White;
  border-radius: 10px;
  padding: 3rem;
  max-width: 50rem;
  margin: auto 1rem;

  &__header {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2.5rem;

    &--img {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 30px;
    }
  }

  &__content {
    &--item {
      margin: 3.5rem auto;

      &:last-child {
        margin-bottom: 0;
      }


      &:not(:last-child) {
        border-bottom: 1px solid $Purple100;
      }

      &-title {
        font-weight: 600;
      }

      &-header {
        display: grid;
        grid-template-columns: 1fr auto;
        column-gap: 1.5rem;
        margin-bottom: 1rem;
        color: $Purple950;

        &:hover {
          color: rgb(209, 23, 209);
        }
      }
    }

    &--content {
      padding-bottom: 2rem;
      color: $Purple600;
    }
  }

  &__button {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
  }
}